<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Una breve historia sobre nosotros....</h2>
                <hr class="light">
                <p class="text-faded">Principios del año 2025, estamos en una actualidad en donde la mayoría de alimentos de origen animal son procesados y sus métodos de crianza están sumamente industrializados acoplado a la utilización de productos químicos sintéticos para maximizar la producción en masa, nuestra empresa se fundó a raíz del trabajo de campo de nuestro pueblo natal CAOBAS del municipio Othón. P. Blanco del estado de Quintana Roo, lugar donde rige la crianza de ganado de excelente calidad. 
</p>
                <p class="text-faded">DIPEV ganaderos fue fundado en el año 1992 por el señor Ángel Pérez Guzmán con el sueño de un día poder exportar bovinos a diferentes lugares de la región nacional e internacional, el trabajo duro y los frutos de su esfuerzo dieron como resultado una empresa que hoy en día está posicionado como uno de los más importantes de la zona sur de México.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
