<header>
    <div class="header-content">
        <div class="header-content-inner">

            
            <h1>!Conoce la calidad de la zona sur¡</h1>
            
            <hr>
            
            <p>Dipev es una empresa responsable en la distribucion de vacunos en la region sur de mexico, cumpliendo con las normas de conservacion animal y distribucion nacional.</p>
            
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Nuestra Historia</a>
        </div>
    </div>
</header>
